Repository Mo-Cores-Mo-Problems/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timwferro, @epinto, @fashahne, @timothymeyers

.github/CODEOWNERS:

/apis/poi/ @timwferro
/apis/trips/ @epinto
/apis/user-java/ @fashahne
/apis/userprofile/ @timothymeyers

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Need a newline again.
  .github/workflows/UserAPI-CD.yml
Owners: none

UserAPI Roll-back on failure
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

change status message
  apis/userprofile/data/healthcheck/user.js
Owners: @timothymeyers

remove if false
  .github/workflows/UserAPI-CD.yml
Owners: none

just validates
  .github/workflows/UserAPI-CD.yml
Owners: none

remove if false
  .github/workflows/UserAPI-CD.yml
Owners: none

Update HealthcheckApiController.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @fashahne

at a loss.
  .github/workflows/UserAPI-CD.yml
Owners: none

Nuclear again.
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update HealthcheckApiController.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @fashahne

validate prod again.
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update user.js
  apis/userprofile/data/healthcheck/user.js
Owners: @timothymeyers

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update user.js
  apis/userprofile/data/healthcheck/user.js
Owners: @timothymeyers
