Repository Mo-Cores-Mo-Problems/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timwferro, @epinto, @fashahne, @timothymeyers

Update HealthcheckApiController.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Owners: @fashahne

Fix UserAPI CD syntax errors.
  .github/workflows/UserAPI-CD.yml
Owners: none

Update user.js
  apis/userprofile/data/healthcheck/user.js
Owners: @timothymeyers

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Nuclear delete
  .github/workflows/UserAPI-CD.yml
Owners: none

Nuclear delete
  .github/workflows/UserAPI-CD.yml
Owners: none

2 more spaces!
  .github/workflows/UserAPI-CD.yml
Owners: none

Remove entire health-check section
  .github/workflows/UserAPI-CD.yml
Owners: none

Absolutely will work. Can't fail!
  .github/workflows/UserAPI-CD.yml
Owners: none

Work fool.
  .github/workflows/UserAPI-CD.yml
Owners: none

For realz
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Create userprofile-CD.yml
  .github/workflows/userprofile-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update
  .github/workflows/userprofile-CD.yml
Owners: none

Add back in healthcheck code
  .github/workflows/userprofile-CD.yml
Owners: none

BANANAS
  .github/workflows/userprofile-CD.yml
Owners: none

Newlines for days
  .github/workflows/UserAPI-CD.yml
  .github/workflows/userprofile-CD.yml
Owners: none

newlines for days
  .github/workflows/UserAPI-CD.yml
  .github/workflows/userprofile-CD.yml
Owners: none

newlines
  .github/workflows/userprofile-CD.yml
Owners: none

where is the newline???
  .github/workflows/userprofile-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Copy from User-Java
  .github/workflows/UserAPI-CD.yml
  .github/workflows/userprofile-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Remove if/false to allow UserAPI to run.
  .github/workflows/UserAPI-CD.yml
Owners: none

Remove extra file
  .github/workflows/userprofile-CD.yml
Owners: none

introduce swap-to-production
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

add swap to prod command
  .github/workflows/UserAPI-CD.yml
Owners: none

UserAPI Production Health Check
  .github/workflows/UserAPI-CD.yml
Owners: none

.github/CODEOWNERS:

/apis/poi/ @timwferro
/apis/trips/ @epinto
/apis/user-java/ @fashahne
/apis/userprofile/ @timothymeyers
