Repository Mo-Cores-Mo-Problems/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timwferro, @epinto, @fashahne, @timothymeyers

.github/CODEOWNERS:

/apis/poi/ @timwferro
/apis/trips/ @epinto
/apis/user-java/ @fashahne
/apis/userprofile/ @timothymeyers

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @timwferro

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update {userID}.js_
  apis/userprofile/tests/user/{userID}.js_
Owners: @timothymeyers

Update HealthCheckTests.cs
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Owners: @timwferro

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update {userID}.js_
  apis/userprofile/tests/user/{userID}.js_
Owners: @timothymeyers

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update UserRepositoryServiceTest.java
  apis/user-java/src/test/java/UserRepositoryServiceTest.java
Owners: @fashahne

Update user.js_
  apis/userprofile/tests/user.js_
Owners: @timothymeyers

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update user.js_
  apis/userprofile/tests/user.js_
Owners: @timothymeyers

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update user.js_
  apis/userprofile/tests/user.js_
Owners: @timothymeyers

Update UserRepositoryServiceTest.java
  apis/user-java/src/test/java/UserRepositoryServiceTest.java
Owners: @fashahne

Update user.js
  apis/userprofile/tests/healthcheck/user.js
Owners: @timothymeyers

Update user.js_
  apis/userprofile/tests/user.js_
Owners: @timothymeyers

Update user.js
  apis/userprofile/tests/healthcheck/user.js
Owners: @timothymeyers

Create User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @fashahne

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Create UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update ACRREPO for User API
  .github/workflows/UserAPI-CD.yml
Owners: none

Update User-Java-CD.yml
  .github/workflows/User-Java-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update UserAPI-CD.yml
  .github/workflows/UserAPI-CD.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @fashahne

Update HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
Owners: @fashahne
