Repository Mo-Cores-Mo-Problems/openhack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timwferro, @epinto, @fashahne, @timothymeyers

Test Commit
  README.md
Owners: none

Fixes #5 - requires Ferro to review
  apis/poi/README.md
Owners: @timwferro

Update README.md
  apis/trips/README.md
Owners: @epinto

Update README.md
  apis/user-java/README.md
Owners: @fashahne

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update trips-action.yml
  .github/workflows/trips-action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Create master_CI.yml
  .github/workflows/master_CI.yml
Owners: none

Update master_CI.yml
  .github/workflows/master_CI.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @timwferro

Update README.md
  apis/poi/README.md
Owners: @timwferro

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update README.md
  apis/poi/README.md
Owners: @timwferro

Update .gitignore to ignore node_modules
  apis/userprofile/.gitignore
Owners: @timothymeyers

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Create ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE.md
Owners: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update .gitignore to ignore .vscode dir
  apis/userprofile/.gitignore
Owners: @timothymeyers

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @fashahne

Update README.md
  apis/userprofile/README.md
Owners: @timothymeyers

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Add workingdirectory to UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update README.md
  apis/user-java/README.md
Owners: @fashahne

Update user-java.yml
  .github/workflows/user-java.yml
Owners: none

Update trips-action.yml
  .github/workflows/trips-action.yml
Owners: none

Update trips-action.yml
  .github/workflows/trips-action.yml
Owners: none

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update README.md
  apis/trips/README.md
Owners: @epinto

Update trips-action.yml
  .github/workflows/trips-action.yml
Owners: none

Update UserAPI-action.yml
  .github/workflows/UserAPI-action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

Update PoiApi-Action.yml
  .github/workflows/PoiApi-Action.yml
Owners: none

.github/CODEOWNERS:

/apis/poi/ @timwferro
/apis/trips/ @epinto
/apis/user-java/ @fashahne
/apis/userprofile/ @timothymeyers
